{% extends 'navigation_base.html' %}


{% block content %}
<style>
* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    border: 1px solid lightslategray;
}

.tag {
  width: 15%;
}

.quote {
  width: 70%;
}

.user {
    width: 15%;
}

.switch {
    font-size: 150%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
    {% for chat, chat_contents in stuff.items%}
        <div class="switch">
        {{ chat }}
        </div>
        {% for user_level in chat_contents%}
            <div class="column tag">
                {{ user_level.userid.username }}
                </div>
                <div class="column quote">
                {{ user_level.level }}
                </div>
                <div class ="column user">
                {{ user_level.exp }}
                </div>
        {% endfor %}
    {% endfor %}

    {% for chat, chatter in my_dict.items%}
        <div class="switch">
        {{ chat }}
        </div>
        {% for user, experience_and_level in chatter.items%}
            {% for level, exp in experience_and_level.items %}
                <div class="column tag">
                {{ user }}
                </div>
                <div class="column quote">
                {{ level }}
                </div>
                <div class ="column user">
                {{ exp }}
                </div>
                {% endfor %}
        {% endfor %}
    {% endfor %}

{% endblock %}