<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JoukkueWeb</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

  <nav class="navbar navbar-inverse bg-faded">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}" style="color: #1E94CD; font-weight: bolder; font-style: italic">Joukkue</a>
    </div>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse_menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
  </button>

  <ul class="nav navbar-nav">
        <li class=""><a href="{% url 'quotes' %}">Quotes</a></li>
        <li class=""><a href="{% url 'levels' %}">Levels</a></li>
  </ul>
      <ul class="nav navbar-nav navbar-right">
      <li>{% include "login_navbar.html" %}</li>
    </ul>
  </div>

</nav>



  <!--  <ul class="nav navbar-nav navbar-right">
      <li> include "store/loginsignup.html"</li>
    </ul>-->

  <div class="container" id="my_container">
  {% block sub_navigation %}
  {% endblock %}

  {% block content %}
  {% endblock %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>