{% extends 'navigation_base.html' %}

{% block content %}
<form action="/signup/" method = "POST">
    <div class="form-group">
    	{% csrf_token %}
    	{% for field in form %}
      	<p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
        {% endfor %}
      	</p>
    {% endfor %}
    <input type="submit" class="btn btn-default" value="Login"/>
  </div>
</form>
{% endblock %}
